html{
    font-family: sans-serif;
}

body {
    background-image: url('../img/landscape.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    color: white;
    text-align: center;
}

#placeholder {
    background-color: rgba(255, 255, 255, 0.42);
    width: 80%;
    margin: 0 auto;
    height: 250px;
}

#social {
    background-color: rgba(255, 255, 255, 0.42);
    width: 80%;
    margin: 20px auto;
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}